{
  "root": true,
  "extends": [
    "plugin:vue/essential",
    "@vue/prettier"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "curly": ["error", "multi", "consistent"]
  }
}