/*
*
* Base Colors
*
*/

$white: #fff;
$black: #3f3f3f;
$red: #c51e1e;
$text: #5a5b5c;
$blue: #217dd2;
$lightGrey: #e1e2e3;



/*
*
* Theme Colors
*
*/

$appBg: #fff;

$headerBg: #217dd2;



/*
*
* Icon Colors
*
*/

$star: #e6b716;
$report: #c51e1e;



/*
*
* Button Colors
*
*/

$whiteButtonBg: #fff;
$whiteButtonBorder: #e1e2e3;


$cancelButtonColor: #c51e1e;
$cancelButtonBorder: #c51e1e;

$cancelButtonBgHover: #c51e1e;
$cancelButtonBgFocus: #af1919;



$confirmButtonColor: #1cbda2;
$confirmButtonBorder: #1cbda2;

$confirmButtonBgHover: #1cbda2;
$confirmButtonBgFocus: #1ab198;



/*
*
* Form Colors
*
*/

$inputBg: #fff;
$inputBorder: #e1e2e3;
$inputHoverBorder: #c1c2c3;
$inputFocusBorder: #199ac3;

$limiter: #c51e1e;


/*
*
* Publication Colors
*
*/

$publicationBg: #fff;
$publicationBorder: #e1e2e3;
